.toast{

    position:fixed;

    top:25px;
    right:25px;

    background:#1e293b;
    color:white;

    padding:16px 22px;

    border-left:5px solid #22c55e;

    border-radius:12px;

    box-shadow:0 10px 25px rgba(0,0,0,.3);

    transform:translateX(450px);

    transition:.4s;

    z-index:9999;

    font-weight:600;

}

.toast.show{

    transform:translateX(0);

}